# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Scripts
scripts/fa-search.py
scripts/extract-icon-list.sh

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Quick Search Modules
src/quick-search/logs
*.log
src/quick-search/npm-debug.log*
src/quick-search/yarn-debug.log*
src/quick-search/yarn-error.log*
src/quick-search/pnpm-debug.log*
src/quick-search/lerna-debug.log*

src/quick-search/node_modules
src/quick-search/.DS_Store
src/quick-search/dist
src/quick-search/dist-ssr
src/quick-search/coverage
src/quick-search/*.local

src/quick-search/cypress/videos/
src/quick-search/cypress/screenshots/

src/quick-search/.vscode/*
src/quick-search/.idea
src/quick-search/*.suo
src/quick-search/*.ntvs*
src/quick-search/*.njsproj
src/quick-search/*.sln
src/quick-search/*.sw?

src/quick-search/*.tsbuildinfo
