# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Scripts
scripts/fa-search.py
scripts/extract-icon-list.sh

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Quick Search Modules
src/vue/logs
*.log
src/vue/npm-debug.log*
src/vue/yarn-debug.log*
src/vue/yarn-error.log*
src/vue/pnpm-debug.log*
src/vue/lerna-debug.log*

src/vue/node_modules
src/vue/.DS_Store
src/vue/dist
src/vue/dist-ssr
src/vue/coverage
src/vue/*.local

src/vue/cypress/videos/
src/vue/cypress/screenshots/

src/vue/.vscode/*
src/vue/.idea
src/vue/*.suo
src/vue/*.ntvs*
src/vue/*.njsproj
src/vue/*.sln
src/vue/*.sw?

src/vue/*.tsbuildinfo
src/vue/env.*
