<div class="noresult">
  <div class="mou-alert mou-alert-info mou-alert-white rounded">
    <div class="icon"><i class="fa fa-warning"></i></div>
    <div class="message">{{localize "MOU.no_result"}}</div>
  </div>
</div>