<div class="noresult">
  <div class="mou-alert mou-alert-warning mou-alert-white rounded">
    <div class="icon"><i class="fa-solid fa-triangle-exclamation"></i></div>
    <div class="message">{{localize "MOU.no_result"}}</div>
  </div>
</div>