<div class="noresult">
  <div class="mou-alert mou-alert-info mou-alert-white rounded">
    <div class="icon"><i class="fa-solid fa-circle-info"></i></div>
    <div class="message">{{localize "MOU.search_required"}}</div>
  </div>
</div>