#mou-browser .browser {

  min-width: 300px;
  min-height: 300px;
  overflow: hidden; // avoid scrolling

  .search-bar {
    padding: var(--mou-browser-padding-parts);
    //height: var(--header-height);

    input {
      width: 100%;
      padding: 8px;
      font-size: 16px;
      box-sizing: border-box;
    }
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    padding: var(--mou-browser-padding-parts);
    
    .filters-toggle {
      position: absolute;
      left: 300px;
      border-radius: 3px;
      box-shadow: 0px 0px 3px #888;
      padding: 5px;
      top: 4px;
      background-color: #999;
      font-size: 10px;
      cursor: pointer;

      &.collapsed {
        left: 0px;
      }

      &:hover {
        color: var(--color-text-light-highlight);
        border: 1px solid var(--color-border-highlight-alt);
        border-bottom: 1px solid var(--color-border-highlight);
        box-shadow: 0 0 10px var(--color-shadow-highlight);
      }
    }

    .filters {
      padding: 10px;
      flex: 0 0 300px;
      box-sizing: border-box;
      border-radius: 3px;
      box-shadow: 0px 0px 3px #888;
      overflow: hidden;
      height: calc(100% - var(--mou-browser-header-height));

      &.collapsed {
        display: none;
      }

      input[type="radio"] {
        margin: 3px 5px;
        width: 20px;
        height: 20px;
      }

      h2 {
        display: flex;
        cursor: pointer;
        i { margin-left: auto; }

        &:not(:first-child) {
          margin-top: 15px;
        }
      }
  
      .options {
        display: flex;
        ul { margin-right: 20px; }
      }

      ul {
        padding: 0;
        list-style-type: none;
      }

      .collapsed { display: none; }

      li {
        display: flex;
        align-items: center;
      }

      select {
        width: 100%;
        max-width: 100%;
        margin: 5px 0px;
      }
    }
  
    .content {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      padding: 20px;
      max-height: calc(100% - var(--mou-browser-header-height));
      overflow-y: auto;
      box-sizing: border-box;

      .asset {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: 8px;
        
        &.img .preview {
          img {
            width: 150px;
          }
        }

        .preview {
          position: relative;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          background-color: #bbb;
          width: 200px;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img {
          display: block;
          border: 1px solid transparent;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          width: 100%;
          height: auto;
        }

        .info {
          border-left: 1px solid #bbb;
          border-right: 1px solid #bbb;
          flex-grow: 1; 
        }

        .meta {
          border: 1px solid #bbb;
          padding: 5px 10px;
          font-size: 12px;
          color: #777;
        }
        
        .source {
          margin: 5px 10px;
          text-wrap: nowrap;
          font-size: 12px;
          color: #777;
          overflow: hidden;
        }

        .title {
          text-transform: capitalize;
          margin: 2px 10px;
          max-height: 35px; // 2 lines max
          overflow: hidden;
        }

        .icons {
          position: absolute;
          bottom: 8px;
          left: 8px;
          list-style-type: none;
          padding: 0px;
          margin: 0px;

          li {
            flex: none;
            width: var(--mou-browser-icon-size);
            height: var(--mou-browser-icon-size);
            margin: 0 3px 0 0;
            box-sizing: content-box;
            font-size: calc(0.75 * var(--mou-browser-icon-size));
            line-height: var(--mou-browser-icon-size);;
            background: rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px var(--color-shadow-dark);
            color: var(--color-text-light-heading);
            text-align: center;
            border: 1px solid var(--color-border-dark);
            border-radius: 5px;
            display: inline-grid;
            place-content: center;
          }
        }
      }      
    }
  }
}