.mou {

  .fa-heart {
    color: red;
  }

  .description {
    padding: 5px 5px 15px 5px;
    text-align: justify;
  }
  
  .actions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .mou-hidden {
    display: none;
  }

  .draggable {
    cursor: grab;

    img {
      pointer-events: none;
    }
  }
}